body {
  --primary-color: #F15942;
  --secondary-color: #26628A;
}

body {
  margin: 0px;
}

.banner {
  background-image: url("assets/sunset.jpg");
  height: 800px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner h2 {
  font-size: 3.5em;
  font-family: 'Waiting for the Sunrise', cursive;
  width: 70%;
  text-align: center;
}

h3 {
  font-family: 'Orienta', sans-serif;
  font-size: 2.5em;
}

p {
  font-family: 'Orienta', sans-serif;
  font-size: 1.25em;
}

.banner a {
  margin-top: 100px;
  background-color: var(--primary-color);
  padding: 16px 42px;
  font-size: 1.5em;
  text-decoration: none;
  color: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 5px #0000007e;
}

.logo-icon {
  height: 200px;
  width: 200px;
}

.feature {
  height: 400px;
  display: flex;
}

.feature-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 50px 200px 50px 0px;
}

.text-holder {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 35px;
}

.text-holder p {
  width: 50%;
}

.feature-image-2 {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 0px 0px 200px;
}

.text-holder-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0px 35px 0px 0px;
}

.text-holder-2 p {
  width: 50%;
}

.review {
  background-color: #3F404A;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #D9F1FA;
  font-size: 2em;
  font-family: 'Waiting for the Sunrise', cursive;
}

.review a {
  background-color: var(--primary-color);
  padding: 16px 42px;
  font-size: 1em;
  text-decoration: none;
  color: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 5px #0000007e;
  margin: 40px 0px 0px 0px;
}

/*Code for examples.html*/
.journals {
  margin-top: 70px;
  display: grid;
  grid-template: auto/ 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 35px;
  margin: 0px 220px;
}

.image-container img {
  width: 95%;
  height: 95%;
  display: block;
  margin: 10px auto;
}

.text-container {
  background-color: #26628A;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.line-1 {
  margin: 7px 0px;
  font-size: 20px;
  font-family: 'Orienta', sans-serif;
}

.line-2 {
  margin: -4px 0px 7px 0px;
  font-size: 15px;
  font-family: 'Orienta', sans-serif;
}

.journal-container {
  display: inline;
  border-radius: 2px;
  box-shadow: 0px 0px 5px black;
  background-color: #F1F1F2;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.button-container a {
  background-color: #F15942;
  text-decoration: none;
  padding:  16px 42px;
  font-size: 1.25em;
  color: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 2px #0000007e;
}

.body-examples {
  background-image: url("/assets/examples/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*#region Sign Up*/

.outer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/assets/sunset.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  display: 'flex';
  flex-direction: 'column';
  font-family: 'Roboto', sans-serif;
  width: 370px;
  /* height: 415px; */
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 0px 5px #00000061;
  border-radius: 2px;
}

.logo-small {
  height: 75px;
  width: 75px;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-header {
  font-weight: 400;
  font-size: 16;
  color: var(--primary-color);
  margin: 8px 0px;
}

.button-area {
  display: 'flex';
  flex-direction: 'row';
  justify-content: 'space-between';
  align-items: 'center';
}

input[type=text], input[type='password'], textarea {
  transition: all 0.30s ease-out;
  -webkit-transition: all 0.30s ease-out;
  -moz-transition: all 0.30s ease-out;
  -ms-transition: all 0.30s ease-out;
  -o-transition: all 0.30s ease-out;
  outline: none;
  padding: 8px 6px;
}

input[type=text]:focus, input[type='password']:focus, textarea:focus {
  box-shadow: 0 0 5px var(--primary-color);
}

.input-field {
  display: block;
  border-radius: 2px;
  padding: 8px 4px;
  margin: 8px 0px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #9E9E9E;
}

.button-primary {
  background-color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  padding: 8px 16px;
  margin: 8px 0px;
  border-radius: 2px;
  border: none;
  outline: none;
  box-shadow: 0px 1px 5px #00000061;
  transition: all 0.30s ease-out;
  -webkit-transition: all 0.30s ease-out;
  -moz-transition: all 0.30s ease-out;
  -ms-transition: all 0.30s ease-out;
  -o-transition: all 0.30s ease-out;
}

.button-primary:hover {
  background-color: rgb(224, 84, 62);
}

.button-primary:active {
  box-shadow: none;
}

/*#endregion#*/

/*#region Footer*/

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #212121;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.footer a {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  color: #eceff1;
  font-size: 12px;
  text-decoration: none;
}

.footer a img {
  width: 24px;
  height: 24px;
  margin: 8px;
}

/*#endregion Footer*/

/*#region Blog*/

.container {
  max-width: 992px;
  border: 1px solid black;
  margin: 0px auto;
}

.blog-grid {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  grid-gap: 16px;
  background-color: #EEEEEE;
}

.mui-card {
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0px 1px 5px #0000007e;
  font-family: 'Roboto', sans-serif;
}

.mui-card-header {
  padding: 16px;
  display: flex;
}

.mui-card-header-text {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
}

.mui-card-header-text > span:last-child {
  margin-top: 4px;
  color: #9E9E9E;
}

.mui-card-rich-media {
  background-image: url("/assets/sunset.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.mui-card-primary-title {
  padding: 24px 16px 16px 16px;
}

.mui-card-primary-title > h3 {
  font-weight: 400;
  font-size: 24px;
  margin: 0px 0px 4px 0px;
}

.mui-card-primary-title > span {
  font-size: 14px;
  margin: 4px 0px 0px 0px;
}

.mui-author-icon {
  background-color: #E0E0E0;
  height: 32px;
  width: 32px;
  padding: 8px;
  border-radius: 24px;
}

/*#endregion*/
