body {
  --primary-color: #F15942;
}

body {
  margin: 0px;
}

.banner {
  background-image: url("assets/sunset.jpg");
  height: 600px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner h2 {
  font-size: 2.2em;
}

.banner a {
  margin-top: 100px;
  background-color: var(--primary-color);
  padding: 16px 42px;
  font-size: 1.5em;
  text-decoration: none;
  color: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 5px #0000007e;
}

.logo-icon {
  height: 200px;
  width: 200px;
}

.feature {
  display: flex;
}

.feature-image {
  width: 300px;
  height: 300px;
}

.feature-1 {
  background-color: orange;
}

.feature-2 {
  background-color: yellow;
}

.feature-3 {
  background-color: green;
}

.review {
  background-color: blue;
}

.signup-now {
  background-color: purple;
}

