body {
  --primary-color: #F15942;
}

body {
  margin: 0px;
}

.banner {
  background-image: url("assets/sunset.jpg");
  height: 800px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner h2 {
  font-size: 3.5em;
  font-family: 'Waiting for the Sunrise', cursive;
  width: 70%;
  text-align: center;
}

h3 {
  font-family: 'Orienta', sans-serif;
  font-size: 2.5em;
}

p {
  font-family: 'Orienta', sans-serif;
  font-size: 1.25em;
}

.banner a {
  margin-top: 100px;
  background-color: var(--primary-color);
  padding: 16px 42px;
  font-size: 1.5em;
  text-decoration: none;
  color: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 5px #0000007e;
}

.logo-icon {
  height: 200px;
  width: 200px;
}

.feature {
  height: 400px;
  display: flex;
}

.feature-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 50px 200px 50px 0px;
}

.text-holder {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 35px;
}

.text-holder p {
  width: 50%;
}

.feature-image-2 {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 0px 0px 200px;
}

.text-holder-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0px 35px 0px 0px;
}

.text-holder-2 p {
  width: 50%;
}

.review {
  background-color: #3F404A;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #D9F1FA;
  font-size: 2em;
  font-family: 'Waiting for the Sunrise', cursive;
}

.review a {
  background-color: var(--primary-color);
  padding: 16px 42px;
  font-size: 1em;
  text-decoration: none;
  color: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 5px #0000007e;
  margin: 40px 0px 0px 0px;
}

/*Code for examples.html*/
.journals {
  margin-top: 70px;
  display: grid;
  grid-template: auto/ 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 35px;
  margin: 0px 220px;
}

.image-container img {
  width: 95%;
  height: 95%;
  display: block;
  margin: 10px auto;
}

.text-container {
  background-color: #26628A;
  color: #fff;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 0px 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.journal-container {
  display: inline;
  border-radius: 2px;
  box-shadow: 0px 0px 5px black;
  background-color: lightcyan;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.button-container a {
  background-color: #F15942;
  text-decoration: none;
  padding:  16px 42px;
  font-size: 1.25em;
  color: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 2px #0000007e;
}

.body-examples {
  background-image: url("/assets/examples/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px -200px;
}
